.container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 24px;
    max-width: 800px;
}

@media only screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
        gap:0;
        justify-content: space-between;
    }
}